certifi
chardet
click
cycler
dill
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
nltk
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
sklearn
threadpoolctl
tqdm
urllib3
Werkzeug
